*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}



nav{
    width: 90%;
    margin: auto;
    height: 4rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70%;
    position: sticky;
    top: 10px;
    z-index: 99;
    border-radius: 15px;
    margin-top: 10px;
}
nav ul{
    position: absolute;
    right: 7%;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    border-radius: 5px;
    font-size: 17px;
    padding: 7px 10px;
    text-transform: uppercase;
}
a.active, a:hover{
    background-color: rebeccapurple;
    transition: .5s;
    
}
nav ul button{
    border-radius: 10px;
    border: none;
    width: 6rem;
    height: 2rem;
    text-transform: uppercase;
}
nav h1{
    position: absolute;
    left: 10%;
}
.checkbtn{
    font-size: 30px;
    position: absolute;
    color: white;
    right: 30px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 740px){

    .checkbtn{
        display: block;
        z-index: 10;
    }
    ul{
        position: fixed;
        background-color: blue;
        width: 100%;
        right:100%;
        top: 0;
        height: 37rem;
        text-align: center;
        transition: all 0.5s ease;
        border-radius: 15px;
    }
    
    nav ul li{
        display: block;
        margin: 50px 0;
        margin-top: 70px;
    }
    nav ul li a{
        padding: 8% 45%;
    }
    nav ul button{
        width: 95%;
        height: 4rem;
    }
    #check:checked ~ ul{
        left: 0;
    }
} 








.container{
    display: flex;
    width: 90vw;
    margin: 2rem auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap
}
.card{
    width: 30%;
    height: 40rem;
    border: 2px solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
}

.card_img{
    position: absolute;
    z-index: -1;
}

.card button{
    width: 80%;
    height: 3rem;
    border: none;
    border-radius: 30px;
    position: absolute;
    bottom: 3rem;
    transform: translateX(-50%); /* Centers the element by shifting it left by half its width */
    left: 50%;
    text-align: left;
    text-indent: 30px;
}
.card_disc{
    position: absolute;
    bottom: 7rem;   
    left: 3.5rem;
    color: white;
    
}
.card button:hover{
    cursor: pointer;
}


@media screen and (max-width: 1193px){
    .container{
        flex-direction: row;
    }
    .card{
        width: 40%;
    }
}


/* @media screen and (min-width: 375, min-height: 667) {
    
} */


.card_header{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
}
